<div class="quote">
    <blockquote class="quote-content">
        <p class="quote-content-text"> {{ text }}</p>
        <footer class="quote-content-author">
            <h3 class="h3">{{ name }}</h3>
            <h3 class="h3">{{ jobTitle }}</h3>
        </footer>
    </blockquote>
</div>
