<section class="typography-item">
  <h2 class="typography-item-title">{{ title }}</h2>
    <section class="typography-item-element">
            {% component 'text', component %}
    </section>
</section>
