<article class="card-wrapper">
    <div class="card" style="background-image: url({{ src }})">
        <div class="content">
            <h1 class="content-title">{{ title }}</h1>
            <p class="content-text">{{ text }}</p>
            {% component 'button', button %}
        </div>
    </div>
</article>
